html, body{
    height: 100%;
    width: 100%;
}

.tamami{
    padding-left: 20px;
    padding-right: 20px;
}
.sorular-tablo {
    position:fixed;
    top: 5px;
    right: 10px;
    background-color: rgb(251, 241, 241);
    width: 20%;
    height: auto;
    border: solid 1px;
    
}
.sorular-tablo-buttons {
    padding: 5%;
}
.sorular-button {
    width: 15%;
    margin-right: 5px;
    margin-bottom: 1%;
    background-color: rgb(241, 234, 250);
}
.soru-secmeli-blok {
    border: 5px;
    width: 70%;
    height: auto;
    background-color: WHİTE;
    border: solid 1px;
    margin-left: 1%;
    background-color: rgb(234, 244, 249);
}
.soru-baslik {
    padding: 10px;
}
.cevaplar {
    margin-left: 2%;
    margin-bottom: 2%;
}
.soru-numarasi {
    font-weight: 800;
    font-size: 20px;
}
#soru {
    font-size: 17px;
    font-weight: 500;
    font-family: "Times New Roman", Times, serif;
}
.cevaplar input {
    margin-bottom: 2%;
    margin-right: 2%;
    cursor: pointer;
}
.ileri-geri-buttonlar {
    width: 70%;
    margin-left: 1%;
    display: flex;
    justify-content: space-between;
    margin-top: 1%;
}
#tablo-header {
    font-weight: bold;
    display: flex;
    justify-content: center;
}
.herSecenek {
    display: flex;
    justify-content: flex-start;
}
#button-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}
.soru-ekleme-cikarma {
    background-color: rgb(248, 240, 244);
    border: 5px;
    width: 65%;
    height: auto;
    margin-top: 7%;
    border: solid 1px;
    margin-left: 3%;
}
  
.basliklar {
    font-weight: bold;
    margin-top: 4%;
    margin-left: 4%;
}
.labelText {
    margin-left: 2%;
    margin-right: 1%;
    width: 8%;
    margin-bottom: 5px;
}
.eklemeButton {
    margin-left: 21%;
}
.cikarmaButton{
    margin-left: 50%;
    background-color: rgb(254, 247, 244);
}
.soruCikar {
    background-color: rgb(254, 247, 244);
    border: 5px;
    width: 65%;
    height: auto;
    margin-top: 7%;
    border: solid 1px;
    margin-left: 3%;
}

.sure-container {
    display: flex;
    align-items: center;
}

.dakika-cerceve,
.saniye-cerceve {
    border-radius: 50%;
    border: 2px solid #210823;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    color: black;
    background-color: rgb(243, 237, 248);
}
.saniye-sure {
    font-size: 20px;
}
.dakika-sure{
    font-size: 20px;
}